body {
  width: 100%;
  padding: 40px 50px; }

#header {
  padding: 20px;
  width: 100%; }

#footer {
  color: white;
  background-color: #aaa; }

.btn-large {
  padding: 30px;
  background-color: green;
  color: white; }

.btn-small {
  padding: 20px;
  background-color: teal;
  color: black; }

.main-nav {
  background-color: gray;
  border: 1px solid black; }
